/* GLOBAL */
*{
    box-sizing: border-box;
}
html, body{
    font-family: 'Times New Roman', Times, serif;
}
.clean{
    clear: both;
}
/* HEADER */
.header img{
    width: 150px;
}

.header ul{
    list-style: none;
    background-color: black;
    padding: 15px 0;
    margin: 5px 0 10px;
}

.header a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header ul li{
    display: inline;
    margin:0 10px;
}
/* CAROCUS */
.carocus{
    background-image: url("../img/ban_tu.jpg");
    height: 500px;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
/* INTRO */
.intro__text{
    font-size: 25px;
    margin: 25px 0 40px;
}
.intro__text span{
    color: red;
    font-weight: bold;
}

.intro__left{
    float: left;
    width: 50%;
    /* position: relative; */
}
/* .intro__abc{
    position: absolute;
    top: 603px;
} */
.intro__right{
    float: right;
    width: 50%;
}
.intro__small{
    float: left;
    width: 50%;
}

.intro__img img{
    width: 100%;
    display: inline;
}
.intro__item{
    padding: 0 15px 45px;
}

/* PRODUCT\ */
.products{
    margin-bottom: 70px;
}
.products h2{
    text-align: center;
    font-size: 30px;
}
.products__item img{
    width: 100%;
}
.products__item {
    float: left;
    width: 25%;
    padding: 0 15px;
}
.products__item h3{
    font-size: 25px;
}
.products__item p{
    font-size: 17px;
}
.products__item button{
    background-color: red;
    border: 1px;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    margin-top: 15px;
}
.products__edit__1{
    padding-top: 3px;
}
.products__edit__2{
    padding-top: 7px;
}
/* BANNER */
.banner{
    background-image: url(../img/intro1.jpg);
    height: 1000px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center center;
    position: relative;
}
.banner__circle{
    width: 300px;
    height: 300px;
    background-color: rgba(131, 41, 39, 0.8);
    color: white;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    /* top,left,right,bottom */
    top: 25px;
    left: 340px;
    /* opacity: 0.8; */
}
.banner__circle p{
    font-size: 20px;
    margin: 0 0 20px;
}
.banner__circle p:first-child{
    font-size: 30px;
    margin: 50px 0 0;
}
.banner__circle p:nth-child(2){
    font-size: 80px;
    margin: 0;
}
/* service */
.service{
    margin: 30px 0 15px;

}
.service__content{
    width: 70%;
    margin: auto;
    text-align: center;
}
.service__item{
    float: left;
    width: 33.33%; 
    padding: 0 10px;
}
.service__item i{
    font-size: 40px;
}
.service__item h2{
    margin: 10px 0;
}
.service__item p{
    margin: 0;
}
/* footer */
.footter{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    
}
.footter h2,.footter p{
    margin: 0;
}
.footter h2{
    font-size: 30px;
}
